/* Styles pour les titres de niveau 1 (h1) */
h1 {
    font-size:120px;/* Taille de la police */
    text-align: center;/* Alignement au centre */
    height: 150px; /* Hauteur fixe */
    margin-top: 5%;/* Ajoute une marge de 5% en haut de la balise h1 */
    text-shadow: 2px 2px 2px red;
}
/* style pour page acceuil */
.titre3{
    color: #fff;
    text-shadow: 2px 2px 2px red;
}
/* style des (h2) */
h2{
    font-size:100px;/* Taille de la police */ 
    height: 250px; /* Hauteur fixe */
}
/* titre album bleach et album in-utero */
h2.album-bleach , h2.album-in-utero{
    border-radius: 5px; /* Arrondit les coins de la bordure */
    height:150px; /* Hauteur fixe */
    text-align: center;/* Alignement au centre */
    border: 2px solid red; /* Définit une bordure de 2 pixels de largeur, solide et rouge */
    padding: 0%; /* Ajoute un espacement à l'intérieur de la bordure */
    text-shadow: 2px 2px 2px red;
    filter: drop-shadow(0 -6mm 4mm rgb(20, 220, 63));
}
/* description album in-utero et album bleach */
h2.Description ,h2.Description2{
    height: 50px; /* Hauteur fixe */
    font-size:30px;/* Taille de la police */
    width: 10px;/* Largeure */
    color: #fff;
}
/* Styles pour les images */
img {
    float: right; /* Déplace l'image vers la droite */
    height: 250px; /* Hauteur fixe pour toutes les images utero */
}
/* bloc div in-utero , div bleach , div page index */
.bloc , .bloc2, .bloc3 {
    display: flex;/* Utilisation de flexbox pour organiser les éléments */
    justify-content: center;/* Centrer horizontalement le contenu */
    align-items: center; /* Centrer verticalement le contenu */
    flex-direction: row-reverse;/*inverse le contenu du bloc*/
}
/* Styles pour les blocs de texte  album in-utero et album bleach */
.texte ,.texte2{
    display: flex;/* Utilisation de flexbox pour organiser les éléments */
    flex-direction: column; /* Organiser les éléments en colonnes */
    margin: 5%; /* Marge de 5% autour des éléments */
    font-size: 25px;/* Taille de la police */
    box-sizing: 5px;/* Boîte de modèle pour inclure les bordures dans la largeur/hauteur */
    background:black;
    padding: 40px;/* Ajoute un remplissage de 40 pixels autour des éléments */
    align-content: center;/* Centre le contenu verticalement */
    color: #fff;
    border: 2px solid red; /* Définit une bordure de 2 pixels de largeur, solide et rouge */
}
    /* Styles pour le lecteur audio */
audio{
    width: 200px; /* ajustez selon vos préférences Largeur */
    margin: 10px;/* Ajoute une marge de 10 pixels autour de l'élément audio */
    background-color:red;
}
.liste-audio {
    list-style-type: none; /* Supprimez les puces de la liste */
    padding: 0; /* Supprimez les marges intérieures de la liste */
}  
.lecteur-audio{
    display: flex;/* Utilisez flexbox pour aligner les éléments */
    align-items: center;/* Alignez verticalement les éléments */
}
.lecteur-audio audio {
    margin-right: 120px; /* Ajoutez un espacement entre le lecteur audio et le texte */
}
.liste-audio li {
    margin-bottom: 10px; /* Ajoutez un espacement entre chaque élément de la liste */
}  
/* style album in-utero, bleach, page accueil */
.test, .test2, .texte3 {
    display: flex;/* Utilisation de flexbox pour organiser les éléments */
    flex-direction: column; /* Organiser les éléments en colonnes */
    background:black;
    margin:90px;/* Marge de 90% autour des éléments */
    color: #fff;
    padding: 10px;/* Supprimez les marges intérieures */
    text-align: justify;
    border: 2px solid red; /* Définit une bordure de 2 pixels de largeur, solide et rouge */
}
/* Réinitialisation des styles */
* {
    margin: 0;/* Remise à zéro de la marge de tous les éléments */
    padding: 0; /* Remise à zéro du remplissage de tous les éléments */
   /* box-sizing: border-box; /* Spécifie que la largeur et la hauteur incluent le remplissage et la bordure, mais pas la marge */
}
/* Style de base pour la navigation */
.nav {
    background-color: #333333;/* Couleur de fond */
    padding: 10px 0;/* Rembourrage (padding) pour l'espace autour du contenu */
    text-align: center; /* Alignement du texte au centre */
}
.nav .logo-container {
    text-align: center; /* Centre le contenu du conteneur du logo */
    margin-bottom: 10px; /* Espace entre le logo et les liens de navigation */
}
.nav ul {
    list-style-type: none;/* Supprimer les puces des listes */
    /*text-align: center;/* Alignement du texte au centre */
    padding: 0; /* Enlever le padding par défaut */
    margin: 0; /* Enlever la marge par défaut */
}
.nav ul li {
   /* display: inline;/* Affichage en ligne pour les éléments de liste */
   display: inline-block; /* Affichage en bloc en ligne pour les éléments de liste */
   margin: 0 10px; /* Marges entre les éléments de liste */
}
.nav ul li a {
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprimer la décoration de lien par défaut */
    padding: 10px 20px; /* Rembourrage (padding) pour l'espace autour du texte */
    display: inline-block; /* Affichage en bloc pour les éléments de lien */
    transition: all 0.3s ease;/* Effet de transition pour le survol */
    font-size: 20px;/* taille de police texte nav */
    text-shadow: 1px 1px 2px red;
}
/* style boutton acceuil */
img.logo_accueil{
    height: 40px;
    margin:0px;
    border-radius: 50%;/* Définit un rayon de bordure de 50%, créant une forme de cercle */
    border: 2px solid red; /* Définit une bordure de 2 pixels de largeur, solide et rouge */
    justify-content: center;
}
/* style boutton accueil dans nav bar */
.nav ul li a:hover {
    background-color: #555; /* Couleur de fond au survol */
}
/* style boutton acceuil*/
.logo {
    height: 50px; /* Hauteur fixe pour le logo */
    width: auto; /* Largeur automatique pour garder les proportions */
}
/* Styles pour les sections de la page */
section {
    display: flex; /* Utilisation de flexbox pour organiser les éléments */
    flex-direction: column; /* Organiser les éléments en colonnes */
    justify-content: center; /* Centrer verticalement le contenu */
    max-width:center ;
}
/* style du footer sur toutes les pages */
footer {
    text-align: center;/* Centre le texte */
    margin: 20px;/* Marge de 20 pixels tout autour */
}
/* style du texte du footer sur certaines pages */
.blanc {
    color:white;/* Texte en blanc */
    margin: 20px; /* Marge de 20 pixels tout autour */
}



