body { 
    background-image: url(https://besthqwallpapers.com/Uploads/11-5-2019/91116/blue-water-texture-pool-water-textures-wavy-backgrounds-macro.jpg) 
}

.background-page-1 { 
    background-image:url(/images/rue.jpg)
}

h1 {
    font-size:120px;
    text-align: center;
    height: 150px;
}

.titre2{
    font-size:120px;
    text-align: center;
    height: 150px;
    color:rgba(200, 106, 106, 0.987);
}

img{
height: 550px;
}

.photo2{
    height: 550px; 
}

 section div{
    display: flex;
 }

section.bloc2{
    display: flex;
}

.texte2{
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-size: 25px;
    box-sizing: 5px;
    color:white;
    background: rgba(128, 128, 128, 0.559);
    padding: 40px;
}

.bloc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte{
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-size: 25px;
    box-sizing: 5px;
    background:rgba(167, 167, 236, 0.581);
    padding: 40px;
    align-content: center;
}

.test{
    display: flex;
    flex-direction: column;
    background:rgba(167, 167, 236, 0.716);
} 

.test2{
    display: flex;
    flex-direction: column;
    color:white;
    background: rgba(128, 128, 128, 0.5);
}

/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour la navigation */
.nav {
    background-color: #333333;
    padding: 10px 0;
}

.nav ul {
    list-style-type: none;
    text-align: right;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav ul li a:hover {
    background-color: #555;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Style de base pour la navigation */
.nav2 {
    background-color: #333333;
    padding: 10px 0;
}

.nav2 ul {
    list-style-type: none;
    text-align: right;
}

.nav2 ul li {
    display: inline;
}

.nav2 ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav2 ul li a:hover {
    background-color: #555;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


